{% extends 'base.html.twig' %}

{% block title %}Figure - {{ trick.name }}{% endblock %}

{% block body %}
<main class="relative">
    <header class="relative h-96 flex flex-col">
        <div class="absolute inset-0">
            <img class="w-full max-h-96 object-cover"
                 src="/illustrations/{{ trick.uuid }}/{{ trick.thumbnail.path }}"
                 alt="Photo d'une figure de {{ trick.name }}"
            />
        </div>
        <div class="absolute inset-0 bg-gray-400 mix-blend-multiply"></div>

        <div class="relative flex-grow flex flex-col space-y-8 items-center justify-center">
            <h1 class="text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                <span class="block text-white">{{ trick.name }}</span>
            </h1>
            <h2 class="text-2xl font-extrabold tracking-tight sm:text-3xl lg:text-4xl">
                <span class="block text-white max-w-3xl text-center">
                    {{ trick.category.name }}
                </span>
            </h2>
        </div>
    </header>

    <div class="max-w-7xl mx-auto bg-white rounded shadow transform -translate-y-8">
        <section class="grid lg:grid-cols-2 gap-8 p-4">
            {# Photos #}
            <div class="flex justify-between flex-wrap gap-4">
                {% for illustration in trick.illustrationPaths %}
                    <img src="/illustrations/{{ trick.uuid }}/{{ illustration }}" class="w-48 h-48" alt=""/>
                {% endfor %}
            </div>

            {# Videos #}
            <div>
                {% for video in trick.videoLinks %}
                    <iframe width="192" height="192" src="{{ video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endfor %}
            </div>
        </section>

        <p class="px-6 py-4">
            {{ trick.description }}
        </p>

        <div class="px-6 py-4">
            {{ form_start(form, {'attr': {'class' : 'flex flex-col gap-4'}}) }}

            {{ form_rest(form) }}

            <button type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Commenter
            </button>


            {{ form_end(form) }}
        </div>

        {# Comments #}
        <section class="flex flex-col gap-4 px-6 py-4">
            {% for comment in trick.comments %}
                <article class="rounded bg-white shadow px-6 py-4">
                    <p>{{ comment.content }}</p>
                    <p class="text-sm text-gray-600 italic">{{ comment.author.username }}</p>
                </article>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}
